<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>NIT-W Phone Bill Viewing System</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/signin.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading" style="text-align: center;">Your Bill</h2>
        <img src="{% static "logo_nitw.png" %}" class="img-rounded" style="display: block; margin-left: auto; margin-right: auto;"></br>
        <hr>
        {% if employees %}
          {% for employee in employees %}
        <p><strong>Employee ID : </strong> {{ employee.emp_id }}</p>
        <p><strong>Employee Name : </strong>{{ employee.emp_name }}</p>
        <p><strong>Employee CUG 99 : </strong>{{ employee.emp_phone }}</p>
        <p><strong>Employee CUG official : </strong>{{ employee.emp_phoneofficial }}</p>
        <p><strong>Intercom Number : </strong>{{ employee.emp_intercom }}</p>

        <p><strong>Employee Email : </strong>{{ employee.emp_email }}</p>
        <p><strong>Employee CUG99 Bill : </strong>{{ employee.emp_bill }}</p>
        <p><strong>Employee CUG Official Bill : </strong>{{ employee.emp_phonebillofficial }}</p>
        <p><strong>Employee intercom bill : </strong> {{ employee.emp_intercombill }}</p>
        <hr>
        <p><strong>Total Bill : </strong>{{ employee.emp_total }}</p>
          {% endfor %}
        {% else %}
          <p style="text-align:center;" class="text-danger"><strong>Please Enter a valid Search</strong></p>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" href="index.html">View Another Bill</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
